<section class="container">
	<div class="cadastro-container">
		<h1>Recuperar Senha</h1>
		<form id="formVerificar" class="tabuada larguraConfirm">
			<p>E-mail</p>
			<input type="email" name="emailCheck" id="emailCheck" placeholder="Digite seu e-mail" value="">
			<div class="cadastrar">
				<a href="/login" class="btn btn-secondary">Cancelar</a>
				<button type="button" id="verifyEmail" class="btn btn-primary">Verificar</button>
			</div>
		</form>
	</div>
</section>
