<section class="container">
	<div class="cadastro-container">
		<h1>Alterar Senha</h1>
		<form id="formAlterar" action="/auth/login/reset_password" class="tabuada larguraConfirm" method="post">
			<p>E-mail</p>
			<input type="email" name="emailAlterar" id="emailAlterar" placeholder="Digite seu e-mail" value="" readonly>
			<input type="hidden" name="token" id="token" value="">
			<p>Nova Senha</p><div>
			<input type="password" name="passwordAlterar" id="passwordAlterar" placeholder="Digite sua nova senha" value=""><i class="fa-regular fa-eye"></i></div>
			<p>Confirmar Nova Senha</p><div>
			<input type="password" name="ConfirmPasswordAlterar" id="ConfirmPasswordAlterar" placeholder="Confirme sua nova senha" value=""><i class="fa-regular fa-eye"></i></div>
			<div class="cadastrar">
				<a href="/login" class="btn btn-secondary">Voltar</a>
				<button type="button" id="alterarSenha" class="btn btn-primary">Alterar</button>
			</div>
		</form>
	</div>
</section>
